.assets-sections-container {
  display: flex;
  gap: 12px;
  flex: 1;
  overflow: auto;
}

.tree * {
  z-index: 1;
}

.tree {
  padding: 12px;
  flex: 1;
  height: 100%;
  overflow-y: scroll;
}

.tree ul {
  padding: 0;
}

.tree-list-item {
  list-style: none;
  display: flex;
  gap: 8px;
  align-items: center;
  position: relative;
  cursor: pointer;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.tree-skeleton-item {
  list-style: none;
  height: 32px;
  border-radius: 4px;
  animation: skeleton-loading 1s linear infinite alternate;
}
