.assets-sections-container {
  display: flex;
  gap: 12px;
  flex: 1;
  overflow: auto;
}

.tree * {
  z-index: 1;
}

.tree {
  --spacing: 1.5rem;
  --radius: 13px;
  padding: 0;
  flex: 1;
  overflow-y: auto;
}

.tree li {
  margin-bottom: 6px;
  margin-top: 6px;
  display: block;
  position: relative;

  padding-left: calc(2 * var(--spacing) - var(--radius));
}

.tree ul {
  margin-left: calc(var(--radius) - var(--spacing));
  padding-left: 0;
}

.tree ul li {
  border-left: 2px solid #ddd;
}

.tree ul li:last-child {
  border-color: transparent;
}

.tree ul li::before {
  content: "";
  display: block;
  position: absolute;
  top: calc(var(--spacing) / -2);
  left: -2px;
  width: calc(var(--spacing) + 2px);
  height: calc(var(--spacing) + 1px);
  margin-top: 4px;
  border: solid #ddd;
  border-width: 0 0 2px 2px;
}

.tree summary {
  display: flex;
  align-items: center;
  padding-right: 18px;
  gap: 8px;
  cursor: pointer;
}

.tree summary::marker,
.tree summary::-webkit-details-marker {
  display: none;
}

.tree summary:focus {
  outline: none;
}

.tree summary:focus-visible {
  outline: 1px dotted #000;
}

.show-sub-items-indicator {
  display: block;
  position: absolute;
  top: calc(var(--spacing) / 2 - var(--radius));
  left: calc(var(--spacing) - var(--radius) - 1px);
  width: calc(2 * var(--radius));
  height: calc(2 * var(--radius));
  border-radius: 50%;
  background: #ffff;
  padding: 6px;
}

.tree summary .show-sub-items-indicator {
  z-index: 1;
}

.tree details[open] > summary .show-sub-items-indicator {
  transform: rotate(180deg);
}
